@import '../../styles/variables.scss';

.dashboard-layout {
  min-height: 100vh;
  background-color: $background;
  padding-top: 72px; // offset for fixed topbar

  .dashboard-content {
    max-width: 1600px;
    margin: 0 auto;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}